<!DOCTYPE html>
<meta name="robots" content="noindex">
<html>
<head>
<meta charset=utf-8 />
<title>JS Bin</title>
<style id="jsbin-css">
h1{
  text-align: center;
}
</style>
</head>
<body onload="">
      <h1>Hi </h1>
      <a href="question/1"> go </a>
  </body>
</html>