<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link  rel="stylesheet" href="/css/default.css"/>
        <link  rel="stylesheet" href="/css/cssLayout.css"/>
        <link  rel="stylesheet" href="/css/login.css"/>

        <title>KeepInTouch : connection</title>
    </head>

    <body>


        <div id="top" class="top">
            <h2>KeepInTouch</h2>
        </div>
        <div>
            <div id="content" class="left_content">

                <form action="login" method="POST">
                    <label for="login">Veuillez vous identifier</label>
                    <input type="text" id="login" name="login" placeholder="Nom d'utilisateur"
                    value="<%=data.login%>"
                     required />
                    <input type="password" id="mdp" name="mdp" placeholder="Mot de passe" required />
                    
                    <p style="color:red"><%=data.error %></p>
                    
                    <input type="submit" value="Se connecter" />
                </form>

                <a href="register"> Cr&eacute;er un couveau compte</a>
            </div>
        </div>
    </body>

</html>
